* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
li, p {
    padding-bottom: 12px;
}
.site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    /* Use hardware accelerated 3D transforms, gracefully degrade where not supported*/
    -webkit-transform: translateX(0);
    transform: translateX(0); 
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    /* Flickering or DOM painting issues fix */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;  
}
.site-wrapper.show-nav .site-canvas {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%) tranlateZ(0);
    transform: translateX(-100%) tranlateZ(0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.site-menu {
    background: #e1e1e1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;   
    right: 0;
    padding: 15px;
    left: 100%;
}
